
<div>
    <h2>Lista de Usuarios</h2>
    <h4>Bienvenido {{user.role}}</h4>
    <span>{{user.name}}</span>
    <span>{{user.email}}</span>
    {{#ifeq user.role "admin"}}
        <a href="/current">Administrar Productos</a>
    {{/ifeq}}
    {{#ifeq user.role "admin"}}
        <a href="/current">Administrar Usuarios</a>
    {{/ifeq}}
    <a href="/logout">cerrar sesión</a>
</div>

<div>
    {{#each users}}
        <div>
            <hr size="2px" color="black" />
            <p>Id: {{this._id}} </p>
            <p>Nombre: {{this.name}}</p>
            <p>Email: {{this.email}} </p>
            <p>Rol: {{this.role}} </p>
            <p>Carrito: {{this.cart}} </p>
            <p>Ultima conexion: {{this.lastLogin}}</p>
        </div>
    {{/each}}
</div>

<div>
    <h2>Actualizar a Premium</h2>
    <form action="" id="premium">
        <input type="text" id="premiumid" placeholder="ID del usuario">
        <input type="submit">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/users.js"></script>
